{% extends "base.html" %}

{% block content %}
    <h2>Stock Overview</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product['id'] }}</td>
                    <td>{{ product['name'] }}</td>
                    <td>{{ product['category'] }}</td>
                    <td>${{ product['price'] }}</td>
                    <td>{{ product['quantity'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
